# ◼역대 박스 오피스 정리
  - Top 300

## ◾데이터 소개

- 한국영화연감(1971~2010) 통계를 기준으로 정리한 것이며, 2011년부터는 통합전산망을 기준으로 일정한 주기(매월, 매년)로 마감처리하여 산출되는 통계정보
- 전체 데이터에 대해 전국 관객수를 기준으로 Top 300의 영화만 추린 데이터
- 컬럼 정보
  - 순번 : 인덱스, 수치형
  - 영화명 : 영화명, 범주형
  - 감독 : 감독명, 범주형(다수일 경우 ', '로 구분)
  - 개봉일 : 개봉일, 날짜형('YYYY-MM-DD')
  - 국적 : 영화 제작 국가, 범주형
  - 전국관객수 : 전국 관객수, 수치형

In [64]:
import pandas as pd

ranking_300 = pd.read_excel('../data/역대박스오피스.xls', index_col=0)
ranking_300

                     영화명           감독        개봉일  국적     전국관객수
순번
1                     명량          김한민 2014-07-30  한국  17613682
2                   극한직업          이병헌 2019-01-23  한국  16264944
3              신과함께-죄와 벌          김용화 2017-12-20  한국  14410754
4                   국제시장          윤제균 2014-12-17  한국  14245998
5             어벤져스: 엔드게임  안소니 루소,조 루소 2019-04-24  미국  13934592
..                   ...          ...        ...  ..       ...
296           시라노; 연애조작단          김현석 2010-09-16  한국   2731828
297                   핸콕        피터 버그 2008-07-02  미국   2723518
298             내가 살인범이다          정병길 2012-11-08  한국   2721903
299     나우 유 씨 미 : 마술사기단     루이스 리테리어 2013-08-22  미국   2718227
300  미스 페레그린과 이상한 아이들의 집         팀 버튼 2016-09-28  미국   2718158

[300 rows x 5 columns]

## ◾데이터 정리

#### 결측치 확인

- 결측치는 존재하지 않는다.

In [11]:
ranking_300.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 300 entries, 1 to 300
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   영화명     300 non-null    object
 1   감독      300 non-null    object
 2   개봉일     300 non-null    datetime64[ns]
 3   국적      300 non-null    object
 4   전국관객수   300 non-null    int64
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 14.1+ KB

#### 감독 컬럼 정리

- 감독 데이터
  - 다수의 감독이 있는 경우 콤마(,)로 구분되어 있다.
  - 다수의 감독을 분리하여 1명의 대표감독으로 변경해준다.
    - ','를 기준으로 분리 오름차순 정렬 후 첫 번째 감독을 사용
    - `'안소니 루소,조 루소'`-`'조 루소, 안소니 루소'`와 같은 형태가 존재하기에 정렬을 진행한다.

In [65]:
ranking_300['감독'].unique()

array(['김한민', '이병헌', '김용화', '윤제균', '안소니 루소,조 루소', '크리스 벅,제니퍼 리',
       '제임스 카메론', '류승완', '봉준호', '최동훈', '이환경', '가이 리치', '추창민', '이준익', '장훈',
       '강제규', '연상호', '양우석', '강우석', '조스 웨던', '크리스토퍼 놀란', '브라이언 싱어', '이일형',
       '이상근', '한재림', '쉐인 블랙', '황동혁', '이석훈', '심형래', '이해준,김병서', '강형철',
       '존 왓츠', '박광현', '김성훈', '마이클 베이', '브래드 버드', '김지운', '김지훈', '장준환',
       '조의석', '우민호', '이재한', '이계벽', '장철수', '나홍진', '강윤성', '조성희',
       '크리스토퍼 맥쿼리', '이정범', '매튜 본', '김동원', '김학순', '피터 잭슨', '톰 후퍼',
       '애너 보든,라이언 플렉', 'J.J. 에이브럼스', '후안 안토니오 바요나', '김주환', '정용기', '허정',
       '허진호', '김병우', '콜린 트레보로우', '조의석,김병서', '롤랜드 에머리히', '페이튼 리드',
       '스콧 데릭슨', '장재현', '김광식', '라이언 쿠글러', '이한', '이재규', '토드 필립스', '마크 포스터',
       '정윤철', '빌 콘돈', '이해영', '여인영', '제임스 완', '윤종빈', '피트 닥터', '고어 버빈스키',
       '김경형', '샘 레이미', '김주호', '리들리 스콧', '타이카 와이티티', '마크 웹', '진모영', '김석윤',
       '원신연', '존 파브로', '바이론 하워드,리치 무어', '더그 라이만', '박훈정', '마크 오스본,존 스티븐슨',
       '데이빗 예이츠', '숀 레비', '민규동', '손용호', '박정우', '맥지', '필리다 로이드', '홍원찬',
       '박찬욱', '스티븐 스필버그', '이용주', '곽경택', '롭 코헨', '신태라', '임순례', '장창원',
       '맷 리브스', '크리스 콜럼버스', '여인영,알레산드로 칼로니', '조 루소,안소니 루소', '조진규',
       '루벤 플레셔', '볼프강 페터젠', '조지 밀러', '데이빗 레이치', '유하', '김태균', '최국희', '김유진',
       '알렉스 커츠먼', '김도영', 'F. 게리 그레이', '신카이 마코토', '마이크 뉴웰', '낸시 마이어스',
       '데이미언 셔젤', '조정래', '조범구', '이재용', '리 언크리치', '릴리 워쇼스키,라나 워쇼스키', '정지영',
       '존 카니', '이승준', '최성현', '조시 쿨리', '박누리', '렌 와이즈먼', '배리 소넨필드',
       '리차드 커티스', '이원태', '론 하워드', '피에르 꼬팽,카일 발다', '팀 밀러', '최정열',
       '캘리 애스버리,앤드류 아담슨,콘래드 베논', '김현석', '앨런 테일러', '알폰소 쿠아론', '김호준', '이언희',
       '박진표', '송해성', '롭 마샬', '김성수', '김상진', '존 추', '강대규', '이연우',
       '요아킴 뢰닝,에스펜 샌버그', '전윤수', '김대우', '미야자키 하야오', '딘 패리소트', '황인호',
       '딘 데블로이스', '권수경', '크리스 웨이츠', '조근현', '이충렬', '케이트 쇼트랜드', '아니쉬 차간티',
       '나현', '잭 스나이더', '필립 노이스', '김한결', '김영탁', '티무르 베크맘베토브',
       '크리스 밀러,라맨 허', '창', '이석근', '엄유나', '웨스 볼', '돈 홀,크리스 윌리암스',
       '루퍼트 와이어트', '제임스 건', '피터 버그', '정병길', '루이스 리테리어', '팀 버튼'],
      dtype=object)

In [66]:
# 다수의 감독 데이터 변경
for idx, row in ranking_300.iterrows():
    if ',' in row['감독']:
        directors = row['감독'].split(',')
        # 양 끝 공백 제거 후 정렬
        directors.sort(key=lambda x : x.strip())
        ranking_300.loc[idx, '감독'] = directors[0].strip()

In [67]:
len(ranking_300['감독'].unique()), ranking_300['감독'].unique()

(194,
 array(['김한민', '이병헌', '김용화', '윤제균', '안소니 루소', '제니퍼 리', '제임스 카메론', '류승완',
        '봉준호', '최동훈', '이환경', '가이 리치', '추창민', '이준익', '장훈', '강제규', '연상호',
        '양우석', '강우석', '조스 웨던', '크리스토퍼 놀란', '브라이언 싱어', '이일형', '이상근', '한재림',
        '쉐인 블랙', '황동혁', '이석훈', '심형래', '김병서', '강형철', '존 왓츠', '박광현', '김성훈',
        '마이클 베이', '브래드 버드', '김지운', '김지훈', '장준환', '조의석', '우민호', '이재한',
        '이계벽', '장철수', '나홍진', '강윤성', '조성희', '크리스토퍼 맥쿼리', '이정범', '매튜 본',
        '김동원', '김학순', '피터 잭슨', '톰 후퍼', '라이언 플렉', 'J.J. 에이브럼스',
        '후안 안토니오 바요나', '김주환', '정용기', '허정', '허진호', '김병우', '콜린 트레보로우',
        '롤랜드 에머리히', '페이튼 리드', '스콧 데릭슨', '장재현', '김광식', '라이언 쿠글러', '이한',
        '이재규', '토드 필립스', '마크 포스터', '정윤철', '빌 콘돈', '이해영', '여인영', '제임스 완',
        '윤종빈', '피트 닥터', '고어 버빈스키', '김경형', '샘 레이미', '김주호', '리들리 스콧',
        '타이카 와이티티', '마크 웹', '진모영', '김석윤', '원신연', '존 파브로', '리치 무어',
        '더그 라이만', '박훈정', '마크 오스본', '데이빗 예이츠', '숀 레비', '민규동', '손용호', '박정우',
        '맥지', '필리다 로이드', '홍원찬', '박찬욱', '스티븐 스필버그', '이용주', '곽경택', '롭 코헨',
        '신태라', '임순례', '장창원', '맷 리브스', '크리스 콜럼버스', '알레산드로 칼로니', '조진규',
        '루벤 플레셔', '볼프강 페터젠', '조지 밀러', '데이빗 레이치', '유하', '김태균', '최국희', '김유진',
        '알렉스 커츠먼', '김도영', 'F. 게리 그레이', '신카이 마코토', '마이크 뉴웰', '낸시 마이어스',
        '데이미언 셔젤', '조정래', '조범구', '이재용', '리 언크리치', '라나 워쇼스키', '정지영', '존 카니',
        '이승준', '최성현', '조시 쿨리', '박누리', '렌 와이즈먼', '배리 소넨필드', '리차드 커티스',
        '이원태', '론 하워드', '카일 발다', '팀 밀러', '최정열', '앤드류 아담슨', '김현석', '앨런 테일러',
        '알폰소 쿠아론', '김호준', '이언희', '박진표', '송해성', '롭 마샬', '김성수', '김상진', '존 추',
        '강대규', '이연우', '에스펜 샌버그', '전윤수', '김대우', '미야자키 하야오', '딘 패리소트', '황인호',
        '딘 데블로이스', '권수경', '크리스 웨이츠', '조근현', '이충렬', '케이트 쇼트랜드', '아니쉬 차간티',
        '나현', '잭 스나이더', '필립 노이스', '김한결', '김영탁', '티무르 베크맘베토브', '라맨 허', '창',
        '이석근', '엄유나', '웨스 볼', '돈 홀', '루퍼트 와이어트', '제임스 건', '피터 버그', '정병길',
        '루이스 리테리어', '팀 버튼'], dtype=object))

#### 개봉일 개봉년도로 변경

- 네이버 API를 활용해 주연 배우 정보를 가져올 것이기 때문에 활용하기 용이하게 개봉일을 개봉년도로 변경한다.
- 네이버 API 영화 검색에는 개봉 년도를 추가해서 검색할 수 있다.

In [68]:
import datetime
import numpy as np

ranking_300['개봉년도'] = np.nan
for idx, row in ranking_300.iterrows():
    ranking_300.loc[idx, '개봉년도'] = datetime.datetime.strftime(row['개봉일'], '%Y')
ranking_300.head(2)

     영화명   감독        개봉일  국적     전국관객수  개봉년도
순번
1     명량  김한민 2014-07-30  한국  17613682  2014
2   극한직업  이병헌 2019-01-23  한국  16264944  2019

In [70]:
ranking_300.head(2)

     영화명   감독  국적     전국관객수  개봉년도
순번
1     명량  김한민  한국  17613682  2014
2   극한직업  이병헌  한국  16264944  2019

## ◾배우 정보 추가

- 네이버 API를 이용하여 주연 배우 정보를 추가한다.

#### 네이버 API 함수

In [25]:
import json
import urllib

In [26]:
client_id = 'xzjv8j9BbPlDkjv3L4cP'
client_secret = 'qXSjpcpeln'

In [54]:
def gen_url(movie, year):
    url = '''https://openapi.naver.com/v1/search/movie.json?query={query}&display={display}&start={start}&yearfrom={year}&yearto={year}'''
    encText = urllib.parse.quote(movie)

    return url.format(query=encText, display=100, start=1, year=year)

In [55]:
def get_result_onpage(url):
    request = urllib.request.Request(url)
    request.add_header("X-Naver-Client-Id",client_id)
    request.add_header("X-Naver-Client-Secret",client_secret)
    response = urllib.request.urlopen(request)
    return json.loads(response.read().decode("utf-8"))

In [56]:
# <b> 태그를 없애는 함수
def delete_tag(input_str):
    input_str = input_str.replace('<b>', "")
    input_str = input_str.replace('</b>', "")
    return input_str

In [71]:
import pandas as pd
def get_fields(json_data, movie, director):
    title = ''
    directors = []
    actors = ''
    for each in json_data['items']:
        try:    
            title = delete_tag(each['title']).strip()
            directors = each['director'].replace('|', '')
            actors = each['actor'].split('|')[:-1]
        except:
            continue
        if movie == title and director in directors:
            break
    return actors if actors else np.nan

#### 배우 정보 추출

In [72]:
actor_list = []

for idx, row in ranking_300.iterrows():
    url = gen_url(str(row['영화명']), row['개봉년도'])
    json_result = get_result_onpage(url)
    result = get_fields(json_result, str(row['영화명']), row['감독'])
    actor_list.append(result)
    print('{}, {}---------------------------'.format(idx, row['영화명']))

len(actor_list)

1, 명량---------------------------
2, 극한직업---------------------------
3, 신과함께-죄와 벌---------------------------
4, 국제시장---------------------------
5, 어벤져스: 엔드게임---------------------------
6, 겨울왕국 2---------------------------
7, 아바타---------------------------
8, 베테랑---------------------------
9, 괴물---------------------------
10, 도둑들---------------------------
11, 7번방의 선물---------------------------
12, 암살---------------------------
13, 알라딘---------------------------
14, 광해, 왕이 된 남자---------------------------
15, 왕의 남자---------------------------
16, 신과함께-인과 연---------------------------
17, 택시운전사---------------------------
18, 태극기 휘날리며---------------------------
19, 부산행---------------------------
20, 해운대---------------------------
21, 변호인---------------------------
22, 어벤져스: 인피니티 워---------------------------
23, 실미도---------------------------
24, 어벤져스: 에이지 오브 울트론---------------------------
25, 기생충---------------------------
26, 겨울왕국---------------------------
27, 인터스텔라---------------------------
28, 보헤미안 랩소디---------------------------
29, 검사외전---------------------------
30, 엑시트---------------------------
31, 관상---------------------------
32, 아이언맨 3---------------------------
33, 설국열차---------------------------
34, 캡틴 아메리카: 시빌 워---------------------------
35, 수상한 그녀---------------------------
36, 해적: 바다로 간 산적---------------------------
37, 국가대표---------------------------
38, 디워---------------------------
39, 백두산---------------------------
40, 과속스캔들---------------------------
41, 스파이더맨: 파 프롬 홈---------------------------
42, 웰컴 투 동막골---------------------------
43, 공조---------------------------
44, 트랜스포머 3---------------------------
45, 히말라야---------------------------
46, 미션임파서블:고스트프로토콜---------------------------
47, 트랜스포머: 패자의 역습---------------------------
48, 밀정---------------------------
49, 최종병기 활---------------------------
50, 트랜스포머---------------------------
51, 써니---------------------------
52, 화려한 휴가---------------------------
53, 스파이더맨: 홈 커밍---------------------------
54, 1987---------------------------
55, 베를린---------------------------
56, 마스터---------------------------
57, 터널---------------------------
58, 어벤져스---------------------------
59, 내부자들---------------------------
60, 인천상륙작전---------------------------
61, 럭키---------------------------
62, 은밀하게 위대하게---------------------------
63, 곡성---------------------------
64, 범죄도시---------------------------
65, 타짜---------------------------
66, 좋은 놈, 나쁜 놈, 이상한 놈---------------------------
67, 늑대소년---------------------------
68, 미녀는 괴로워---------------------------
69, 군함도---------------------------
70, 미션 임파서블: 폴아웃---------------------------
71, 다크 나이트 라이즈---------------------------
72, 아저씨---------------------------
73, 사도---------------------------
74, 전우치---------------------------
75, 미션 임파서블: 로그네이션---------------------------
76, 킹스맨 : 시크릿 에이전트---------------------------
77, 투사부일체---------------------------
78, 연평해전---------------------------
79, 반지의 제왕 : 왕의 귀환---------------------------
80, 인셉션---------------------------
81, 레미제라블---------------------------
82, 쉬리---------------------------
83, 캡틴 마블---------------------------
84, 미션 임파서블 3---------------------------
85, 쥬라기 월드: 폴른 킹덤---------------------------
86, 청년경찰---------------------------
87, 가문의 위기(가문의 영광2)---------------------------
88, 숨바꼭질---------------------------
89, 덕혜옹주---------------------------
90, 더 테러 라이브---------------------------
91, 쥬라기 월드---------------------------
92, 의형제---------------------------
93, 감시자들---------------------------
94, 2012---------------------------
95, 앤트맨과 와스프---------------------------
96, 닥터 스트레인지---------------------------
97, 검은 사제들---------------------------
98, 안시성---------------------------
99, 블랙 팬서---------------------------
100, 더 킹---------------------------
101, 완득이---------------------------
102, 트랜스포머: 사라진 시대---------------------------
103, 완벽한 타인---------------------------
104, 살인의 추억---------------------------
105, 조커---------------------------
106, 월드 워 Z---------------------------
107, 반지의 제왕 : 두개의 탑---------------------------
108, 타워---------------------------
109, 말아톤---------------------------
110, 미녀와 야수---------------------------
111, 추격자---------------------------
112, 독전---------------------------
113, 쿵푸팬더 2---------------------------
114, 아쿠아맨---------------------------
115, 공작---------------------------
116, 인사이드 아웃---------------------------
117, 캐리비안의 해적: 세상의 끝에서---------------------------
118, 킹스맨: 골든 서클---------------------------
119, 동갑내기 과외하기---------------------------
120, 스파이더맨 3---------------------------
121, 바람과 함께 사라지다---------------------------
122, 마션---------------------------
123, 토르: 라그나로크---------------------------
124, 어메이징 스파이더맨---------------------------
125, 님아, 그 강을 건너지 마오---------------------------
126, 조선명탐정 : 각시투구꽃의 비밀---------------------------
127, 봉오동 전투---------------------------
128, 군도: 민란의 시대---------------------------
129, 남산의 부장들---------------------------
130, 라이온 킹---------------------------
131, 범죄와의 전쟁: 나쁜놈들 전성시대---------------------------
132, 주토피아---------------------------
133, 엣지 오브 투모로우---------------------------
134, 신세계---------------------------
135, 쿵푸 팬더---------------------------
136, 신비한 동물사전---------------------------
137, 도가니---------------------------
138, 캐리비안의 해적 : 망자의 함---------------------------
139, 박물관이 살아있다!---------------------------
140, 내 아내의 모든 것---------------------------
141, 나쁜 녀석들: 더 무비---------------------------
142, 판도라---------------------------
143, 터미네이터 : 미래전쟁의 시작---------------------------
144, 맘마미아!---------------------------
145, 연가시---------------------------
146, 아이언맨 2---------------------------
147, 강철비---------------------------
148, 해리포터와 죽음의 성물2---------------------------
149, 다만 악에서 구하소서---------------------------
150, 아이언맨---------------------------
151, 엑스맨: 데이즈 오브 퓨처 패스트---------------------------
152, 강철중: 공공의 적 1-1---------------------------
153, 아가씨---------------------------
154, 킹콩---------------------------
155, 어메이징 스파이더맨 2---------------------------
156, 인디아나 존스 4 : 크리스탈 해골의 왕국---------------------------
157, 용의자---------------------------
158, 건축학개론---------------------------
159, 태풍---------------------------
160, 미이라 3:황제의 무덤---------------------------
161, 7급 공무원---------------------------
162, 다크 나이트---------------------------
163, 색즉시공---------------------------
164, 댄싱퀸---------------------------
165, 우리 생애 최고의 순간---------------------------
166, 꾼---------------------------
167, 혹성탈출: 반격의 서막---------------------------
168, 타짜-신의 손---------------------------
169, 해리포터와 비밀의 방---------------------------
170, 쿵푸팬더3---------------------------
171, 캡틴 아메리카: 윈터 솔져---------------------------
172, 공공의 적 2---------------------------
173, 박수건달---------------------------
174, 베놈---------------------------
175, 한반도---------------------------
176, 조선명탐정 : 사라진 놉의 딸---------------------------
177, 트로이---------------------------
178, 역린---------------------------
179, 매드 맥스: 분노의 도로---------------------------
180, 남한산성---------------------------
181, 반도---------------------------
182, 데드풀 2---------------------------
183, 쌍화점---------------------------
184, 암수살인---------------------------
185, 국가부도의 날---------------------------
186, 신기전---------------------------
187, 미이라---------------------------
188, 82년생 김지영---------------------------
189, 분노의 질주: 홉스&쇼---------------------------
190, 분노의 질주: 더 익스트림---------------------------
191, 친절한 금자씨---------------------------
192, 너의 이름은.---------------------------
193, 해리 포터와 불의 잔---------------------------
194, 모가디슈---------------------------
195, 인턴---------------------------
196, 라라랜드---------------------------
197, 귀향---------------------------
198, 리얼 스틸---------------------------
199, 신의 한 수---------------------------
200, 미스터 & 미세스 스미스---------------------------
201, 스캔들-조선남녀상열지사---------------------------
202, 코코---------------------------
203, 매트릭스2 리로디드---------------------------
204, 해리 포터와 불사조 기사단---------------------------
205, 가문의 부활 - 가문의 영광3---------------------------
206, 부러진 화살---------------------------
207, 끝까지 간다---------------------------
208, 아일랜드---------------------------
209, 비긴 어게인---------------------------
210, 스파이---------------------------
211, 그것만이 내 세상---------------------------
212, 이끼---------------------------
213, 토이 스토리 4---------------------------
214, 돈---------------------------
215, 포화속으로---------------------------
216, 다이 하드 4 : 죽어도 산다---------------------------
217, 맨 인 블랙 3---------------------------
218, 어바웃 타임---------------------------
219, 악인전---------------------------
220, 다빈치 코드---------------------------
221, 슈퍼배드 3---------------------------
222, 데드풀---------------------------
223, 시동---------------------------
224, 슈렉2---------------------------
225, 아이 캔 스피크---------------------------
226, 스타워즈: 깨어난 포스---------------------------
227, 올드보이---------------------------
228, 분노의 질주: 더 세븐---------------------------
229, 터미네이터 제니시스---------------------------
230, 그래비티---------------------------
231, 우주전쟁---------------------------
232, 마녀---------------------------
233, 어린 신부---------------------------
234, 오! 브라더스---------------------------
235, 탐정: 리턴즈---------------------------
236, 장화, 홍련---------------------------
237, 그놈 목소리---------------------------
238, 우리들의 행복한 시간---------------------------
239, 캐리비안의 해적: 낯선 조류---------------------------
240, 퀵---------------------------
241, 감기---------------------------
242, 말죽거리 잔혹사---------------------------
243, 광복절 특사---------------------------
244, 나우 유 씨 미 2---------------------------
245, 마파도---------------------------
246, 하모니---------------------------
247, 거북이 달린다---------------------------
248, 너는 내 운명---------------------------
249, 캐리비안의 해적: 죽은 자는 말이 없다---------------------------
250, 스물---------------------------
251, 토르: 다크 월드---------------------------
252, 식객---------------------------
253, 방자전---------------------------
254, 인크레더블 2---------------------------
255, 하울의 움직이는 성---------------------------
256, 마더---------------------------
257, 투모로우---------------------------
258, 레드: 더 레전드---------------------------
259, 해리 포터와 혼혈 왕자---------------------------
260, 오싹한 연애---------------------------
261, 드래곤 길들이기 2---------------------------
262, 형---------------------------
263, 황금 나침반---------------------------
264, 친구 2---------------------------
265, 26년---------------------------
266, 워낭소리---------------------------
267, 블랙 위도우---------------------------
268, 서치---------------------------
269, 고지전---------------------------
270, 엑스맨: 아포칼립스---------------------------
271, 프리즌---------------------------
272, 300---------------------------
273, 솔트---------------------------
274, 가장 보통의 연애---------------------------
275, 헬로우 고스트---------------------------
276, 귀신이 산다---------------------------
277, 원티드---------------------------
278, 극비수사---------------------------
279, 슈렉3---------------------------
280, 표적---------------------------
281, 앤트맨---------------------------
282, 호빗: 다섯 군대 전투---------------------------
283, 너의 결혼식---------------------------
284, 호빗: 뜻밖의 여정---------------------------
285, 말모이---------------------------
286, 메이즈 러너---------------------------
287, 해리 포터와 죽음의 성물1---------------------------
288, 빅 히어로---------------------------
289, 덩케르크---------------------------
290, 혹성탈출: 진화의 시작---------------------------
291, 황산벌---------------------------
292, 부당거래---------------------------
293, 1번가의 기적---------------------------
294, 메이즈 러너: 스코치 트라이얼---------------------------
295, 가디언즈 오브 갤럭시 VOL. 2---------------------------
296, 시라노; 연애조작단---------------------------
297, 핸콕---------------------------
298, 내가 살인범이다---------------------------
299, 나우 유 씨 미 : 마술사기단---------------------------
300, 미스 페레그린과 이상한 아이들의 집---------------------------

300

#### 배우 정보 추가

In [76]:
ranking_300['배우'] = actor_list

In [74]:
ranking_300.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 300 entries, 1 to 300
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   영화명     300 non-null    object
 1   감독      300 non-null    object
 2   국적      300 non-null    object
 3   전국관객수   300 non-null    int64
 4   개봉년도    300 non-null    object
 5   배우      268 non-null    object
dtypes: int64(1), object(5)
memory usage: 24.5+ KB

In [75]:
# 저장
# ranking_300.to_excel('../data/역대박스오피스_final.xls')

C:\Users\ISANGH~1\AppData\Local\Temp/ipykernel_13524/2053915695.py:2: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  ranking_300.to_excel('../data/역대박스오피스_final.xls')

#### 결측치 추가

- 32개의 결측치는 직접 확인해보며 추가해주었다.

In [77]:
final = pd.read_excel('../data/역대박스오피스_final.xls')
final.head(2)

   순번   영화명   감독  국적     전국관객수  개봉년도                                  배우
0   1    명량  김한민  한국  17613682  2014               ['최민식', '류승룡', '조진웅']
1   2  극한직업  이병헌  한국  16264944  2019  ['류승룡', '이하늬', '진선규', '이동휘', '공명']